/* General Body and Page Styling */
body {
    font-family: Arial, sans-serif;
    background: #010e1b;
    background-size: cover;
    margin-top: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    flex-direction: column;
  }
  h2 {
    font-weight: 600;
    color: white;
  }
  
  /* Form Styling */
  form {
    background-color: #ffffff17;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Limits the width of the form */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  
  /* File Input Styling */
  input[type="file"] {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #b09f9f96;
    font-size: 1rem;
    cursor: pointer;
  }
  
  input[type="file"]:hover {
    border-color: #505050;
  }
  
  /* Submit Button Styling */
  button {
    padding: 12px 24px;
    background-color: #4b4b4b; 
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for the button */
  button:hover {
    background-color: #282828; 
  
  }
  
  
  .image-preview img {
    width: 100%;
    height: 100%;
  }
  /* Slide transition for the form */
.form {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Faster transition */
  transform: translateX(100%); /* Start outside of the viewport */
  opacity: 0;
}

.form.slide-in {
  transform: translateX(0); /* Slide into view */
  opacity: 1;
}
/* 
.form.slide-out {
  transform: translateX(-100%);
  opacity: 0;
} */

  