* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
body {
  background-image: url(port.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
span {
  color: rgb(59, 102, 246);
}
h1 {
  text-align: center;
  font-weight: 600;
  color: white;
}
p {
  color: white;
}
section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-right: 70px;
}

.p-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #ffffff1d;
  box-shadow: 0px 0px 27px -2px rgba(10, 10, 10, 0.54);
  border-radius: 15px;
}
.dont {
  text-align: center;
}
input[type="submit"] {
  background-color: #1e87f8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  width: 90%;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin: 0 auto; /* Center the button */
  display: block; /* Make the button a block element */
}

/* Hover effect */
input[type="submit"]:hover {
  background-color: #0056b3; /* Slightly darker on hover */
}

a {
  text-decoration: none;
  color: #6dadf0;
}
a:hover {
  color: #90beef;
}
